<div class="card v-cards" style="width: 18rem;">
    <img style="cursor: pointer;" [routerLink]="['/detail', hero.id]" [src]="hero.image" class="card-img-top" alt="..."
        class="img-thumbnail" width="300" height="300">
    <div class="card-body">
        <h5 class="card-title">{{hero.name}}</h5>
        <p class="card-text">{{hero.company}}</p>
        <a class="btn btn-primary" style="cursor: pointer !important;" [routerLink]="['/detail', hero.id]">View
            details</a>
    </div>
</div>